<div class="maincontent">

  <article class="article">
    <h1 class="article-title">About Me</h1>
      <p>I'm Saurabh.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">About The Site</h1>
    <p>This website is a practical implementation of my Node.js and Express.js learnings. The site features my favorite bands. Each of these bands were given a dedicated route. Data for the bands is being fetched from a data.json file.</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">What I learned</h1>
    <ul>
      <li>Consistent routing to modules</li>
      <li>Using middleware</li>
      <li>Using client-side templating language - EJS</li>
      <li>Building flexible views</li>
      <li>Creating an API route</li>
      <li>Organize Web app into MVC architechture</li>
      <li>Making exact view behave differently depending of where it is inserted</li>
    </ul>
  </article><!-- article -->

</div>
