<div class="maincontent">

  <article class="article" >
    <h1 class="article-title">What I learned</h1>
    <ul style="border: 3px dashed #31708f;">

      <li><b>Consistent routing to modules</li>
      <li><b>Building flexible views</li>
      <li><b>Using middleware</li>
      <li><b>Using client-side templating language - EJS</li>
      <li><b>Creating an API route</li>
      <li><b>Organize Web app into MVC architecture</li>
    </ul>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">About The Site</h1>
    <p>This website is a practical implementation of my Node.js and Express.js learnings. The site features my favorite bands. Each of these bands were given a dedicated route. Data for the bands is being fetched from a data.json file.</a>.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">About Me</h1>
    <p>Hi folks. I’m Saurabh. I’m a web designer who has a passion for web design and loves to create for web and mobile devices. Currently a graduate student  at University of Florida, I'll be graduating in May 2017. In my free time you can find me on Reddit or Stackoverflow. </p>
  <p>Find me on <a href="http://saurabhrana.me">saurabhrana.me</a></p></article><!-- article -->

</div>
