<article class="sidebar">
  <h1 class="sidebar-title">Features</h1>
  <ul class="sidebar-body">
    <li><b><i>Bands tab </i></b> above to see routes to different bands.</li>
    <li>Click <b><i>Bands tab > All Bands </i></b> to see all the bands
    <li><b><i>Feedback </i></b>  page made using AJAX</li>
    <li>Click one of the three bands shown above to go to the specific band page.</li>
  </ul>
</article><!-- article -->
